.projects-container {
    margin: 10px;
    color: black;
}

h1 {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    color: #4B4A67;
    text-shadow: -2px 2px 2px #908eac;
}

.project-filter {
    display: flex;
    justify-content: space-evenly;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
    align-items: center;
}

.project {
    margin: 20px;
    padding: 20px;
    background-color: #908eac;
    color: black;
    border: 2px solid #4B4A67;
    border-radius: 20px;
    box-shadow: -2px 2px 4px #4B4A67;
}

.project-link {
    text-decoration: none;
    color: black;
}

.project-title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.project-info {
    padding: 5px;
}

.info-title {
    font-weight: bold;
    padding: 5px;
}

.select-dropdown {
    background-color: #4B4A67;
    color: white;
    padding: 7px 10px;
    border-radius: 10px;
}