.project-form {
    margin: 20px 200px;
    display: flex;
    flex-direction: column;
}

.project-fieldset {
    border-radius: 5px;
    border: none;
}

.btn {
   background-color: #4B4A67;
   color: white;
   width: fit-content;
   border-radius: 5px;
   margin: 20px;
   padding: 5px 10px;
}

.btn:hover {
    box-shadow: 0 0 10px #4B4A67;
}

.input {
    border-radius: 5px;
    padding: 5px;
    background-color: #908eac;
}