.project-details {
    margin: 20px 200px;
}

.detail-title {
    font-weight: bold;
    padding: 5px;
}

.creator-link {
    text-decoration: none;
    color: #4B4A67;
}

.detail-top {
    display: flex;
    justify-content: center;
}

.detail-main {
    display: flex;
    flex-direction: column;
}

.details {
    margin: 20px;
    padding: 5px;
}

.details-main {
    margin: 20px;
}

.detail-body {
    margin: 20px;
    display: flex;
    flex-direction: column;
}